# VsCode and Python stuff
**/.vscode
**/__pycache__

venv
.env

*.sh

#app lock
*_LOCK

# Databases
bot/resources/database/*
!bot/resources/database/README.txt

# Cache
bot/resources/cache/*
!bot/resources/cache/README.txt

# Config
bot/resources/settings/*
!bot/resources/settings/README.txt

# Rare Audio
bot/resources/audios/rare/rare_chances.json